@media (max-width: 600px) { /*Celulares*/

    .content {
        display: block;
        justify-content: center;
    }
    .container{
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        flex-wrap: wrap;
    }
    .titleh1 {
        text-align: center;
    }
    .text1{
        display: none;
    }
    .img1 {
        width: 85%;
        height: 70%;
        display: inline-block;
        padding-top: 10px;
    }
    
}

@media (min-width: 601px) and (max-width: 1024px) { /*Tablets*/
    
    .content {
        display: flex;
        justify-content: center;
    }
    .container{
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        flex-wrap: wrap;
    }
    
    .text1{
        text-align: left;
        margin: 10px;
    }
    .img1 {
        width:90%;
        height: 50%;
        margin: 0;
        
    }    
    .container {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: 0;
    }
}

@media (1200px <= width <= 1366px) { /*Laptops*/
    .img1 {
        width: 100%;
    }
    .section{
        display: inline-block;
        width: 40%;
    }
    .container {
        width: 98%;
        display: flex;
    }
    .container-tittle{
        width: 100%;
    }
    body{
        align-items: center;
    }
}
@media (width >= 1367px) { /*Pantallas grandes*/
    .container, h2{
        text-align: center;
        width: 270px;
        height: 100px;
    }
    .section{
        display: inline-block;
        width: 40%;
    .img1 {
        padding-top: 100px;
        width: 100%;
        }
    .img1 h2{
        text-align: center;
        width: 270px;
        height: 100px;
    }
    .img1 {
        width: 100%;
    }
    .container {
        width: 98%;
    }
    .container-tittle, h1{
        width: 100%;
    }
}
}