body{
    background-color: rgb(170, 170, 170);
    justify-content: center;
    text-align: center;
}
.container {
  display: inline-table;

}



  .content{
    justify-content: left;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    text-align: center;
    margin-top: 4%;
    
  }

.titleh1{
    color: aliceblue;
    text-align: center;
    margin-top: 2%;

}

.img1{
    width: 80%;     
    height: 60%;
    right: 50%;
    margin-left: 5%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: solid 5px rgb(0, 0, 0);
    
}

.text1{
        color: white;
        text-align: justify;
        display: flex;
        width: 90%;
        height: 40%;
        right: 50px;
        left: 50px;
        margin: 7%;
    }
  